# [sinqia]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [sinqia]    Script Date: 14/03/2024 18:42:14 ******/
CREATE DATABASE [sinqia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sinqia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinqia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sinqia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinqia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [sinqia] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sinqia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [sinqia] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [sinqia] SET ARITHABORT OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [sinqia] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [sinqia] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [sinqia] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [sinqia] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [sinqia] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [sinqia] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [sinqia] SET  DISABLE_BROKER 
GO
ALTER DATABASE [sinqia] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [sinqia] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [sinqia] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [sinqia] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [sinqia] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [sinqia] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [sinqia] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [sinqia] SET RECOVERY FULL 
GO
ALTER DATABASE [sinqia] SET  MULTI_USER 
GO
ALTER DATABASE [sinqia] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [sinqia] SET DB_CHAINING OFF 
GO
ALTER DATABASE [sinqia] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [sinqia] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [sinqia] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [sinqia] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'sinqia', N'ON'
GO
ALTER DATABASE [sinqia] SET QUERY_STORE = OFF
GO

# [dbo].[CIDADES]

In [0]:
USE [sinqia]
GO

In [0]:
/****** Object:  Table [dbo].[CIDADES]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADES](
	[Codigo_Cidade] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Estado] [varchar](2) NOT NULL,
	[Cep_Inicial] [decimal](18, 0) NOT NULL,
	[Cep_Final] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CIDADES] PRIMARY KEY CLUSTERED 
(
	[Codigo_Cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VW_CIDADES]

In [0]:
/****** Object:  View [dbo].[VW_CIDADES]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_CIDADES] AS
SELECT [Codigo_Cidade]
      ,[Nome]
      ,[Estado]
      ,[Cep_Inicial]
      ,[Cep_Final]
  FROM [sinqia].[dbo].[CIDADES]
GO

# [dbo].[CLIENTES]

In [0]:
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[Codigo_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[CGC_CPF_Cliente] [varchar](11) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Telefone] [varchar](11) NOT NULL,
	[Endereco] [varchar](50) NOT NULL,
	[Bairro] [varchar](30) NOT NULL,
	[Complemento] [varchar](15) NULL,
	[E_mail] [varchar](50) NOT NULL,
	[Codigo_Cidade] [int] NOT NULL,
	[Cep] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[Codigo_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VW_CLIENTES]

In [0]:
/****** Object:  View [dbo].[VW_CLIENTES]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_CLIENTES] AS
SELECT [CLIENTES].[CODIGO_CLIENTE]
      ,[CLIENTES].[CGC_CPF_CLIENTE]
      ,[CLIENTES].[NOME]
      ,[CLIENTES].[TELEFONE]
      ,[CLIENTES].[E_MAIL]
      ,[CLIENTES].[CEP]
      ,[CLIENTES].[ENDERECO]
      ,[CLIENTES].[BAIRRO]
      ,[CLIENTES].[COMPLEMENTO]
      ,[CLIENTES].[CODIGO_CIDADE]
	  ,[CIDADES].[NOME] AS NOME_CIDADE
	  ,[CIDADES].[ESTADO]
  FROM [SINQIA].[DBO].[CLIENTES]
  INNER JOIN CIDADES ON CLIENTES.CODIGO_CIDADE = CIDADES.CODIGO_CIDADE

GO

# [dbo].[CIDADES]

In [0]:
SET IDENTITY_INSERT [dbo].[CIDADES] ON 
INSERT [dbo].[CIDADES] ([Codigo_Cidade], [Nome], [Estado], [Cep_Inicial], [Cep_Final]) VALUES (7, N'TUPA', N'SP', CAST(17600000 AS Decimal(18, 0)), CAST(17699999 AS Decimal(18, 0)))
INSERT [dbo].[CIDADES] ([Codigo_Cidade], [Nome], [Estado], [Cep_Inicial], [Cep_Final]) VALUES (9, N'SAO PAULO', N'SP', CAST(1000000 AS Decimal(18, 0)), CAST(9000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CIDADES] OFF
GO

# [dbo].[CLIENTES]

In [0]:
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 
INSERT [dbo].[CLIENTES] ([Codigo_Cliente], [CGC_CPF_Cliente], [Nome], [Telefone], [Endereco], [Bairro], [Complemento], [E_mail], [Codigo_Cidade], [Cep]) VALUES (1, N'39013028837', N'NATAN ROBERTO SANCHES PEDRINI XAVIER', N'11977000061', N'RUA DOMACIL APARICIO ROQUE, 201', N'PARQUE IBIRAPUERA', N'CASA 2', N'NATANROBERTO182@GMAIL.COM', 7, CAST(17602134 AS Decimal(18, 0)))
INSERT [dbo].[CLIENTES] ([Codigo_Cliente], [CGC_CPF_Cliente], [Nome], [Telefone], [Endereco], [Bairro], [Complemento], [E_mail], [Codigo_Cidade], [Cep]) VALUES (7, N'13028564592', N'CONRADO CARRIEL XAVIER', N'11977000061', N'RUA CORONEL BENTO BICUDO', N'PIQUERI', N'APTO 83D', N'NATANROBERTO182@GMAIL.COM', 9, CAST(2912000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO

# [FK_CLIENTES_CIDADES]

In [0]:
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_CIDADES] FOREIGN KEY([Codigo_Cidade])
REFERENCES [dbo].[CIDADES] ([Codigo_Cidade])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_CIDADES]
GO

# [dbo].[AlterarCidade]

In [0]:
/****** Object:  StoredProcedure [dbo].[AlterarCidade]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AlterarCidade]
	@CODIGO_CIDADE INT,
    @NOME VARCHAR(50),
    @ESTADO VARCHAR(2),
    @CEPINICIAL DECIMAL(18, 0),
    @CEPFINAL DECIMAL(18, 0),
    @STATUS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	-- PRIMEIRO VERIFICO SE EXISTE UMA CIDADE COM O CODIGO FORNECIDO PARA PODER ALTERAR
	IF EXISTS (SELECT 1 FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
	BEGIN
	   -- VERIFICO SE EXISTE APENAS UMA CIDADE NO BANCO COM AS INFORMAÇOES FORNECIDAS
		IF EXISTS (SELECT 1 FROM CIDADES WHERE NOME = @NOME AND ESTADO = @ESTADO AND CODIGO_CIDADE <> @CODIGO_CIDADE)
		BEGIN
			-- CASO EXISTA UMA CIDADE JÁ CADASTRADA NO BANCO, VERIFICO SE O CODIGO_CIDADE É DIFERENTE, SE FOR, PROIBO A ALTERAÇÃO
			-- PARA EVITAR A DUPLICAÇÃO DE DADOS
			-- RETORNO O STATUS UM PARA TRATAMENTO NA APLICAÇÃO
			RAISERROR('CIDADE E ESTADO JÁ CADASTRADOS NO SISTEMA', 16, 1)
			SET @STATUS = 1;
			RETURN
		END
		ELSE
		BEGIN
	       -- POR FIM, REALIZO A ATUALIZAÇÃO DOS DADOS
				UPDATE [dbo].[CIDADES]
				   SET 
				       [NOME]		 = @NOME
				      ,[ESTADO]		 = @ESTADO
				      ,[CEP_INICIAL] = @CEPINICIAL
				      ,[CEP_FINAL]	 = @CEPFINAL
				 WHERE [dbo].[CIDADES].[CODIGO_CIDADE] = @CODIGO_CIDADE
	
		    -- APÓS O UPDATE, RETORNO O STATUS ZERO PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 0;
		END;
	END
	ELSE
	BEGIN
	    -- CASO A CIDADE NÃO SEJA LOCALIZADA, RETORNO STATUS PARA TRATAMENTO NA APLICAÇÃO
	    SET @STATUS = 2;
	  	END;
END;
GO

# [dbo].[AlterarCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[AlterarCliente]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AlterarCliente]
    @CODIGO_CLIENTE INT,
    @CGC_CPF_CLIENTE VARCHAR(11),
    @NOME VARCHAR(50),
    @TELEFONE VARCHAR(11),
    @ENDERECO VARCHAR(50),
    @BAIRRO VARCHAR(30),
    @COMPLEMENTO VARCHAR(15),
    @EMAIL VARCHAR(50),
    @CODIGO_CIDADE INT,
    @CEP DECIMAL(18, 0),
    @STATUS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	
	-- VERIFICO SE NÃO EXISTE NENHUM CLIENTE COM O MESMO CPF CADASTRADO
	IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE CGC_CPF_CLIENTE = @CGC_CPF_CLIENTE AND CODIGO_CLIENTE <> @CODIGO_CLIENTE)
	BEGIN
		-- VERIFICO SE EXISTE A CIDADE CADASTRADA
		IF EXISTS (SELECT 1 FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
		BEGIN
			-- PASSANDO POR TODAS AS VALIDAÇÕES, EFETUO O UPDATE NA BASE DE DADOS
			UPDATE [dbo].[CLIENTES]
			   SET 
				  				 [CGC_CPF_CLIENTE]	= @CGC_CPF_CLIENTE
								,[NOME]				= @NOME
								,[TELEFONE]			= @TELEFONE
								,[ENDERECO]			= @ENDERECO
								,[BAIRRO]			= @BAIRRO
								,[COMPLEMENTO]		= @COMPLEMENTO
								,[E_MAIL]			= @EMAIL
								,[CODIGO_CIDADE]	= @CODIGO_CIDADE
								,[CEP]				= @CEP

			 WHERE [dbo].[CLIENTES].[CODIGO_CLIENTE] = @CODIGO_CLIENTE

			-- APÓS A ATUALIZAÇÃO, RETORNO ZERO PARA TRATAMENTO NA APLICAÇÃO
			SET @STATUS = 0;
		END
		ELSE
		BEGIN
		    -- SE NÃO EXISTIR UMA CIDADE COM O CÓDIGO INFORMADO, RETORNO CÓDIGO UM PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 1;
		END;
	END
	ELSE
	BEGIN
	    -- SE JÁ EXISTIR UM CLIENTE COM O MESMO CPF CADASTRADO, RETORNO DOIS PARA TRATAMENTO NA APLICAÇÃO
	    SET @STATUS = 2;
   	END;
END;
GO

# [dbo].[CRUD_Cidade]

In [0]:
/****** Object:  StoredProcedure [dbo].[CRUD_Cidade]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_Cidade]
	@CRUD VARCHAR(1),
    @CODIGO_CIDADE INT = NULL,			 
    @NOME VARCHAR(50) = NULL,			 
    @ESTADO VARCHAR(2) = NULL,			 
    @CEPINICIAL DECIMAL(18, 0) = NULL,	 
    @CEPFINAL DECIMAL(18, 0) = NULL,	 
    @STATUS VARCHAR(80) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	IF (@CRUD = 'I')
	BEGIN
	    -- VERIFICO SE A CIDADE JÁ EXISTE
	    IF NOT EXISTS (SELECT 1 FROM CIDADES WHERE NOME = @NOME AND ESTADO = @ESTADO)
	    BEGIN
	        -- SE A CIDADE NÃO EXISTIR, REALIZO A INSERÇÃO
	        INSERT INTO CIDADES(
								NOME
							   ,ESTADO
							   ,CEP_INICIAL
							   ,CEP_FINAL
							   )
					VALUES	   (
							    @NOME 
							   ,@ESTADO
							   ,@CEPINICIAL
							   ,@CEPFINAL);
	
	        -- APÓS A INSERÇÃO, RETORNO O STATUS PARA TRATAMENTO NA APLICAÇÃO
	        SET @STATUS = 'CIDADE INSERIDA COM SUCESSO';
	    END
	    ELSE
	    BEGIN
	        -- SE A CIDADE JÁ EXISTIR, RETORNO O STATUS PARA TRATAMENTO NA APLICAÇÃO
	        SET @STATUS = 'CIDADE JÁ CADASTRADA NA BASE DE DADOS';
	    END;
	END
	ELSE
	IF (@CRUD = 'U')
	BEGIN
	    -- PRIMEIRO VERIFICO SE EXISTE UMA CIDADE COM O CODIGO FORNECIDO PARA PODER ALTERAR
		IF EXISTS (SELECT 1 FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
		BEGIN
	    -- VERIFICO SE EXISTE APENAS UMA CIDADE NO BANCO COM AS INFORMAÇOES FORNECIDAS
			IF EXISTS (SELECT 1 FROM CIDADES WHERE NOME = @NOME AND ESTADO = @ESTADO AND CODIGO_CIDADE <> @CODIGO_CIDADE)
			BEGIN
				-- CASO EXISTA UMA CIDADE JÁ CADASTRADA NO BANCO, VERIFICO SE O CODIGO_CIDADE É DIFERENTE, SE FOR, PROIBO A ALTERAÇÃO
				-- PARA EVITAR A DUPLICAÇÃO DE DADOS
				-- RETORNO O STATUS PARA TRATAMENTO NA APLICAÇÃO
				RAISERROR('CIDADE E ESTADO JÁ CADASTRADOS NO SISTEMA', 16, 1)
				SET @STATUS = 'CIDADE E ESTADO JÁ CADASTRADOS NO SISTEMA';
				RETURN
			END
			ELSE
			BEGIN
	        -- POR FIM, REALIZO A ATUALIZAÇÃO DOS DADOS
					UPDATE [dbo].[CIDADES]
					   SET 
					       [NOME]		 = @NOME
					      ,[ESTADO]		 = @ESTADO
					      ,[CEP_INICIAL] = @CEPINICIAL
					      ,[CEP_FINAL]	 = @CEPFINAL
					 WHERE [dbo].[CIDADES].[CODIGO_CIDADE] = @CODIGO_CIDADE
	
			    -- APÓS O UPDATE, RETORNO O STATUS PARA TRATAMENTO NA APLICAÇÃO
			    SET @STATUS = 'CIDADE ATUALIZADA COM SUCESSO';
			END;
		END
		ELSE
		BEGIN
		    -- CASO A CIDADE NÃO SEJA LOCALIZADA, RETORNO STATUS PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 'CIDADE NÃO LOCALIZADA PARA ALTUALIZAÇÃO';
	   	END;
	END
	IF (@CRUD = 'D')
	BEGIN
	    -- VERIFICO SE EXISTE ALGUM CLIENTE QUE TENHA A CIDADE CADASTRADA
		-- SE HOUVER, IMPEÇO A EXCLUSÃO
	    IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
		BEGIN
			BEGIN TRANSACTION;
			    DELETE FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE;
			COMMIT TRANSACTION;
			-- APÓS DELETAR O REGISTRO, RETORNO O VALOR ZERO PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 'CIDADE DELETADA COM SUCESSO';
		END
		ELSE
		BEGIN
		    -- SE HOUVER UM CLIENTE COM A CIDADE CADASTRADA, RETORNO O VALOR UM PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 'NÃO É POSSÍVEL DELETAR CIDADE, HÁ CLIENTES RELACIONADOS A ESSE REGISTRO';
	   	END;
	END;
END;
GO

# [dbo].[ExcluirCidade]

In [0]:
/****** Object:  StoredProcedure [dbo].[ExcluirCidade]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExcluirCidade]
    @CODIGO_CIDADE INT,
    @STATUS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- VERIFICO SE EXISTE ALGUM CLIENTE QUE TENHA A CIDADE CADASTRADA
	-- SE HOUVER, IMPEÇO A EXCLUSÃO
    IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
	BEGIN
		BEGIN TRANSACTION;
		    DELETE FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE;
		COMMIT TRANSACTION;
		-- APÓS DELETAR O REGISTRO, RETORNO O VALOR ZERO PARA TRATAMENTO NA APLICAÇÃO
	    SET @STATUS = 0;
	END
	ELSE
	BEGIN
	    -- SE HOUVER UM CLIENTE COM A CIDADE CADASTRADA, RETORNO O VALOR UM PARA TRATAMENTO NA APLICAÇÃO
	    SET @Status = 1;
   	END;
END;
GO

# [dbo].[ExcluirCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[ExcluirCliente]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExcluirCliente]
    @CODIGO_CLIENTE INT
AS
BEGIN
    SET NOCOUNT ON;
	
	DELETE FROM CLIENTES WHERE CODIGO_CLIENTE = @CODIGO_CLIENTE;

END;
GO

# [dbo].[InserirCidade]

In [0]:
/****** Object:  StoredProcedure [dbo].[InserirCidade]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserirCidade]
    @NOME VARCHAR(50),
    @ESTADO VARCHAR(2),
    @CEPINICIAL DECIMAL(18, 0),
    @CEPFINAL DECIMAL(18, 0),
    @STATUS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- VERIFICO SE A CIDADE JÁ EXISTE
    IF NOT EXISTS (SELECT 1 FROM CIDADES WHERE NOME = @NOME AND ESTADO = @ESTADO)
    BEGIN
        -- SE A CIDADE NÃO EXISTIR, REALIZO A INSERÇÃO
        INSERT INTO CIDADES(
							NOME
						   ,ESTADO
						   ,CEP_INICIAL
						   ,CEP_FINAL
						   )
				VALUES	   (
						    @NOME 
						   ,@ESTADO
						   ,@CEPINICIAL
						   ,@CEPFINAL);

        -- APÓS A INSERÇÃO, RETORNO O STATUS ZERO PARA TRATAMENTO NA APLICAÇÃO
        SET @STATUS = 0;
    END
    ELSE
    BEGIN
        -- SE A CIDADE JÁ EXISTIR, RETORNO STATUS UM PARA TRATAMENTO NA APLICAÇÃO
        SET @STATUS = 1;
    END;
END;
GO

# [dbo].[InserirCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[InserirCliente]    Script Date: 14/03/2024 18:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserirCliente]
    @CGC_CPF_CLIENTE VARCHAR(11),
    @NOME VARCHAR(50),
    @TELEFONE VARCHAR(11),
    @ENDERECO VARCHAR(50),
    @BAIRRO VARCHAR(30),
    @COMPLEMENTO VARCHAR(15),
    @EMAIL VARCHAR(50),
    @CODIGO_CIDADE INT,
    @CEP DECIMAL(18, 0),
    @STATUS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- VERIFICO SE EXISTE A CIDADE CADASTRADA
    IF EXISTS (SELECT 1 FROM CIDADES WHERE CODIGO_CIDADE = @CODIGO_CIDADE)
	BEGIN
		-- SE EXISTIR, VERIFICO SE NÃO EXISTE NENHUM CLIENTE COM O MESMO CPF CADASTRADO
		IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE CGC_CPF_CLIENTE = @CGC_CPF_CLIENTE)
		BEGIN
		    -- SE NÃO EXISTIR, REALIZO O CADASTRO
		    INSERT INTO CLIENTES(
								 CGC_CPF_CLIENTE
								,NOME
								,TELEFONE
								,ENDERECO
								,BAIRRO
								,COMPLEMENTO
								,E_MAIL
								,CODIGO_CIDADE
								,CEP)
		                VALUES (
								 @CGC_CPF_CLIENTE
								,@NOME
								,@TELEFONE
								,@ENDERECO
								,@BAIRRO
								,@COMPLEMENTO
								,@EMAIL
								,@CODIGO_CIDADE
								,@CEP);

		    -- APÓS A INSERÇÃO, RETORNO O CÓDIGO ZERO PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 0;
		END
		ELSE
		BEGIN
		    -- SE JÁ EXISTIR UM CLIENTE CADASTRADO COM CPF, RETORNO CÓDIGO UM PARA TRATAMENTO NA APLICAÇÃO
		    SET @STATUS = 1;
    	END;
	END
	ELSE
	BEGIN
	    -- SE NÃO EXISTIR A CIDADE INFORMADA, RETORNO CÓDIGO DOIS PARA TRATAMENTO NA APLICAÇÃO
	    SET @STATUS = 2;
   	END;
END;
GO

# [sinqia]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [sinqia] SET  READ_WRITE 
GO