# [sinqia]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [sinqia]    Script Date: 12/03/2024 18:18:16 ******/
CREATE DATABASE [sinqia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sinqia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinqia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sinqia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sinqia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [sinqia] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sinqia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [sinqia] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [sinqia] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [sinqia] SET ARITHABORT OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [sinqia] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [sinqia] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [sinqia] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [sinqia] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [sinqia] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [sinqia] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [sinqia] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [sinqia] SET  DISABLE_BROKER 
GO
ALTER DATABASE [sinqia] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [sinqia] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [sinqia] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [sinqia] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [sinqia] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [sinqia] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [sinqia] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [sinqia] SET RECOVERY FULL 
GO
ALTER DATABASE [sinqia] SET  MULTI_USER 
GO
ALTER DATABASE [sinqia] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [sinqia] SET DB_CHAINING OFF 
GO
ALTER DATABASE [sinqia] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [sinqia] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [sinqia] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [sinqia] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'sinqia', N'ON'
GO
ALTER DATABASE [sinqia] SET QUERY_STORE = OFF
GO

# [dbo].[CEP]

In [0]:
USE [sinqia]
GO

In [0]:
/****** Object:  Table [dbo].[CEP]    Script Date: 12/03/2024 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[NumeroInicial] [int] NOT NULL,
	[NumeroFinal] [int] NOT NULL,
	[BairroDistrito] [varchar](50) NOT NULL,
	[UF] [varchar](2) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CEP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[CEP] ON 
INSERT [dbo].[CEP] ([Id], [CEP], [NumeroInicial], [NumeroFinal], [BairroDistrito], [UF], [Cidade], [Endereco]) VALUES (1, N'02912-000', 10, 20000, N'Pirqueri', N'SP', N'São Paulo', N'Rua Coronel Bento Bicudo')
INSERT [dbo].[CEP] ([Id], [CEP], [NumeroInicial], [NumeroFinal], [BairroDistrito], [UF], [Cidade], [Endereco]) VALUES (2, N'11111-111', 10, 23, N'BAIRRO', N'RO', N'CIDADE', N'TESTE')
INSERT [dbo].[CEP] ([Id], [CEP], [NumeroInicial], [NumeroFinal], [BairroDistrito], [UF], [Cidade], [Endereco]) VALUES (3, N'02912-00', 12, 45545, N'AKSDJ', N'AL', N'ASKDJ', N'AJSD')
INSERT [dbo].[CEP] ([Id], [CEP], [NumeroInicial], [NumeroFinal], [BairroDistrito], [UF], [Cidade], [Endereco]) VALUES (4, N'02912-001', 12, 5454, N'ASD', N'AP', N'ASD', N'ASDJH')
INSERT [dbo].[CEP] ([Id], [CEP], [NumeroInicial], [NumeroFinal], [BairroDistrito], [UF], [Cidade], [Endereco]) VALUES (5, N'02912-002', 12, 5454, N'ASD', N'AP', N'ASD', N'ASDJH')
SET IDENTITY_INSERT [dbo].[CEP] OFF
GO

# [dbo].[InserirCep]

In [0]:
/****** Object:  StoredProcedure [dbo].[InserirCep]    Script Date: 12/03/2024 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserirCep]
    @Cep VARCHAR(9),
    @Endereco VARCHAR(100),
    @NumeroInicial INT,
    @NumeroFinal INT,
    @BairroDistrito VARCHAR(50),
    @Cidade VARCHAR(50),
    @UF VARCHAR(2),
    @Status INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar se o CEP já existe na tabela
    IF NOT EXISTS (SELECT 1 FROM CEP WHERE Cep = @Cep)
    BEGIN
        -- Se o CEP não existe, realizar a inserção
        INSERT INTO CEP(Cep, Endereco, NumeroInicial, NumeroFinal, BairroDistrito, Cidade, UF)
        VALUES (@Cep, @Endereco, @NumeroInicial, @NumeroFinal, @BairroDistrito, @Cidade, @UF);

        -- Definir o código de status como sucesso (por exemplo, 0)
        SET @Status = 0;
    END
    ELSE
    BEGIN
        -- Se o CEP já existe, definir o código de status como indicativo de CEP duplicado (por exemplo, 1)
        SET @Status = 1;
    END;
END;
GO

# [sinqia]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [sinqia] SET  READ_WRITE 
GO